@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* line 1, */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 5,  */
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 100vw;
  text-align: justify;
}

/* line 12,  */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 16,  */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 20,  */
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

/* line 25,  */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 29,  */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #1f1f1f;
}

/* line 36,  */
a,
button {
  color: #1f1f1f;
  outline: medium none;
}

/* line 41,  */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  color: #001d38;
}

/* line 45,  */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 54,  */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 58,  */
li {
  list-style: none;
}

/* line 61,  */
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Raleway", sans-serif;
}

/* line 70,  */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 76,  */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 81,  */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 86,  */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 91,  */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 96,  */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 101,  */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 106,  */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 112,  */
h3 {
  font-size: 24px;
}

/* line 116,  */
.mb-65 {
  margin-bottom: 67px;
}

/* line 120,  */
.black-bg {
  background: #020c26 !important;
}

/* line 124,  */
.white-bg {
  background: #ffffff;
}

/* line 127,  */
.gray-bg {
  background: #f5f5f5;
}

/* line 143,  */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 147,  */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* line 159,  */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 163,  */
.overlay2::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/* line 180,  */
.overlay_03 {
  position: relative;
  z-index: 0;
}

/* line 184,  */
.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2c2c2c;
  opacity: 0.6;
  content: "";
  z-index: -1;
}

/* line 197,  */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

/* line 201,  */
.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 217,  */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 221,  */
.pt-120 {
  padding-top: 120px;
}

/* line 289,  */
.mb-20px {
  margin-bottom: 20px;
}

/* line 293,  */
.mb-55 {
  margin-bottom: 55px;
}

/* line 296,  */
.mb-40 {
  margin-bottom: 40px;
}

/* line 299,  */
.mb-30 {
  margin-bottom: 30px;
}

/* line 304,  */
.mb-20 {
  margin-bottom: 20px;
}

/* line 1,*/
.boxed-btn {
  background: rgba(255, 255, 255, 0.8);
  color: #131313;
  display: block;
  padding: 12px 42px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 25px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(115, 54, 31) !important;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1,*/
  .boxed-btn {
    padding: 12px 30px;
  }
}

/* line 19,*/
.boxed-btn:hover {
  background: rgba(115, 54, 31, 1);
  color: #fff !important;
}

/* line 24,*/
.boxed-btn:focus {
  outline: none;
}

/* line 27,*/
.boxed-btn.large-width {
  width: 220px;
}

/* line 32,*/
.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #ed1b1b;
  color: #fff;
  display: inline-block;
  padding: 12px 42px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid transparent;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* line 49,*/
.boxed-btn3:hover {
  background: transparent;
  color: #ed1b1b !important;
  border: 1px solid #ed1b1b;
}

/* line 54,*/
.boxed-btn3:focus {
  outline: none;
}

/* line 57,*/
.boxed-btn3.large-width {
  width: 220px;
}

/* line 62,*/
.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 79,*/
.boxed-btn3-white:hover {
  background: #28ae61;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 84,*/
.boxed-btn3-white i {
  margin-right: 2px;
}

/* line 87,*/
.boxed-btn3-white:focus {
  outline: none;
}

/* line 90,*/
.boxed-btn3-white.large-width {
  width: 220px;
}

/* line 95,*/
.boxed-btn3-green-2 {
  color: #28ae60 !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #28ae60;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 111,*/
.boxed-btn3-green-2:hover {
  background: #28ae60;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 116,*/
.boxed-btn3-green-2:focus {
  outline: none;
}

/* line 119,*/
.boxed-btn3-green-2.large-width {
  width: 220px;
}

/* line 123,*/
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 135,*/
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 139,*/
.boxed-btn2:focus {
  outline: none;
}

/* line 143,*/
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 151,*/
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 160,*/
.line-button:hover {
  color: #009dff;
}

/* line 163,*/
.line-button:hover::before {
  background: #009dff;
}

/* line 167,*/
.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009dff;
  border: 1px solid #009dff;
  text-transform: capitalize;
  padding: 10px 25px;
}

/* line 174,*/
.book_now:hover {
  background: #009dff;
  color: #fff;
}

/* line 2,*/
.section_title h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  color: #001d38;
  position: relative;
  z-index: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 2,*/
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 2,*/
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 19,*/
  .section_title h3 br {
    display: none;
  }
}

/* line 25,*/
.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 31,*/
  .section_title p br {
    display: none;
  }
}

/* line 39,*/
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 39,*/
  .mb-50 {
    margin-bottom: 40px;
  }
}

/* line 45,*/
.mb-65 {
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  /* line 45,*/
  .mb-65 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  /* line 4,*/
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

/* line 13,*/
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

/* line 28,*/
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #ed1b1b;
}

/* line 32,*/
.slicknav_menu .slicknav_nav a.active {
  color: #ed1b1b;
}

@media (max-width: 767px) {
  /* line 35,*/
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35,*/
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

/* line 44,*/
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

/* line 55,*/
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  /* line 12,*/
  .slicknav_menu {
    margin-right: 0px;
  }
}

/* line 72,*/
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78,*/
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}

/* line 92,*/
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -33px;
}

/* line 1,*/
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

@media (max-width: 767px) {
  /* line 1,*/
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1,*/
  .header-area {
    padding-top: 0;
  }
}

/* line 16,*/
.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
  background: transparent;
  padding: 30px 150px;
}

@media (max-width: 767px) {
  /* line 16,*/
  .header-area .main-header-area {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 16,*/
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 16,*/
  .header-area .main-header-area {
    padding: 10px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 16,*/
  .header-area .main-header-area {
    padding: 10px 50px;
  }
}

/* line 40,*/
.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  /* line 40,*/
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 40,*/
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 40,*/
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* line 54,*/
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 54,*/
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

/* line 68,*/
.header-area .main-header-area .social_icon ul li {
  display: inline-block;
}

/* line 70,*/
.header-area .main-header-area .social_icon ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #bdbbba;
  font-size: 14px;
  margin-left: 6px;
}

/* line 81,*/
.header-area .main-header-area .social_icon ul li a:hover {
  color: #939596;
}

/* line 88,*/
.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 92,*/
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 92,*/
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

/* line 101,*/
.header-area .main-header-area .Appointment .search_button a i {
  color: #e8e8e8;
}

/* line 108,*/
.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

/* line 111,*/
.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #a8a7a0;
  margin: 0 10px;
  font-size: 15px;
}

/* line 115,*/
.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

/* line 122,*/
.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 122,*/
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 122,*/
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

/* line 130,*/
.header-area .main-header-area .Appointment .book_btn a {
  background: #ed1b1b;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 130,*/
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}

/* line 141,*/
.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #ed1b1b;
  color: #fff;
  border: 1px solid #ed1b1b;
}

/* line 149,*/
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 153,*/
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

/* line 163,*/
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Raleway", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 163,*/
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 163,*/
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/* line 182,*/
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 182,*/
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 182,*/
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 203,*/
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 208,*/
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 213,*/
.header-area .main-header-area .main-menu ul li a:hover {
  color: #ed1b1b;
}

/* line 217,*/
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 229,*/
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 231,*/
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

/* line 237,*/
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 241,*/
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 246,*/
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

/* line 251,*/
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 255,*/
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 261,*/
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #73361f;
  padding-bottom: 0;
  padding: 20px 150px;
}

@media (max-width: 767px) {
  /* line 261,*/
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 261,*/
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 261,*/
  .header-area .main-header-area.sticky {
    padding: 20px 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 261,*/
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}

/* line 290,*/
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 293,*/
.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

/* line 296,*/
.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

/* line 1,*/
.slider_bg_1 {
  background-image: url(../img/banner/banner.webp);
}

/* line 8,*/
.slider_area .single_slider {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  /* line 8,*/
  .slider_area .single_slider {
    height: 100vh;
  }
}

/* line 17,*/
.slider_area .single_slider .slider_text h3 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 600;
}

/* line 23,*/
.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
  /* line 17,*/
  .slider_area .single_slider .slider_text h3 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  /* line 17,*/
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 17,*/
  .slider_area .single_slider .slider_text h3 {
    font-size: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 17,*/
  .slider_area .single_slider .slider_text h3 {
    font-size: 100px;
    letter-spacing: 3px;
  }
}

/* line 42,*/
.slider_area .single_slider .slider_text p {
  font-size: 20px;
  font-weight: 400;
  color: #d5d5d5;
  margin-bottom: 24px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 42,*/
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  /* line 42,*/
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

/* line 55,*/
.slider_area .single_slider .slider_text .video_service_btn > a {
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 55,*/
  .slider_area .single_slider .slider_text .video_service_btn > a {
    margin-bottom: 20px;
  }
}

/* line 63,*/
.slider_area .music_wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 1,*/
.about_area {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  /* line 1,*/
  .about_area {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1,*/
  .about_area {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

/* line 12,*/
.about_area .about_thumb {
  margin-bottom: 30px;
}

/* line 15,*/
.about_area .about_info {
  padding-left: 68px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  /* line 15,*/
  .about_area .about_info {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 15,*/
  .about_area .about_info {
    padding-left: 0;
  }
}

/* line 23,*/
.about_area .about_info h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 28,*/
.about_area .about_info p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 17px;
  margin-bottom: 40px;
}

/* line 86,*/
.singer_video .image {
  position: relative;
}

/* line 88,*/
.singer_video .image img {
  width: 100%;
}

/* line 91,*/
.singer_video .image .video_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 96,*/
.singer_video .image .video_btn a {
  width: 80px;
  height: 80px;
  background: #ed1b1b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  color: #fff;
  display: inline-block;
}

/* line 1,*/
.gallery_area {
  padding-top: 50px;
  padding-bottom: 0px;
}

@media (max-width: 767px) {
  /* line 1,*/
  .gallery_area {
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1,*/
  .gallery_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 12,*/
.gallery_area .single-gallery {
  overflow: hidden;
  position: relative;
}

/* line 15,*/
.gallery_area .single-gallery img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 20,*/
.gallery_area .single-gallery .gallery_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  background: rgba(97, 92, 253, 0.4);

  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;

  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

/* line 33,*/
.gallery_area .single-gallery .gallery_hover a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  color: #fff;
  font-size: 45px;
}

/* line 53,*/
.gallery_area .More_Works_btn {
  margin-top: 40px;
}

/* line 58,*/
.portfolio_details_area {
  padding-top: 280px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  /* line 58,*/
  .portfolio_details_area {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 58,*/
  .portfolio_details_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 70,*/
.portfolio_details_area .portfolio_details_thumb img {
  width: 100%;
}

/* line 75,*/
.portfolio_details_area .portfolio_details_content span {
  font-size: 14px;
  font-weight: 300;
  color: #919191;
}

/* line 80,*/
.portfolio_details_area .portfolio_details_content h3 {
  color: #2c2c2c;
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
  margin-top: 15px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  /* line 80,*/
  .portfolio_details_area .portfolio_details_content h3 {
    font-size: 25px;
    line-height: 40px;
  }
}

/* line 92,*/
.portfolio_details_area .portfolio_details_content h4 {
  font-size: 20px;
  font-weight: 400;
  color: #2c2c2c;
}

/* line 97,*/
.portfolio_details_area .portfolio_details_content p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #727272;
  line-height: 28px;
}

/* line 106,*/
.mt-50 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  /* line 106,*/
  .mt-50 {
    margin-top: 30px;
  }
}

/* line 112,*/
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 112,*/
  .mb-50 {
    margin-bottom: 30px;
  }
}

.preSave-div {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  padding-top: 60px;
}

.galleryContainer {
  padding-bottom: 80px;
}

/* line 1,*/
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6,*/
.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 129px;
  background: #73361f;
}

@media (max-width: 767px) {
  /* line 6,*/
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 15,*/
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 15,*/
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 22,*/
.footer .footer_top .footer_widget .footer_title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 22,*/
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 32,*/
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 32,*/
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 42,*/
.footer .footer_top .footer_widget p {
  color: #c7c7c7;
}

/* line 45,*/
.footer .footer_top .footer_widget .sub_text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  margin-top: 20px;
}

/* line 52,*/
.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

/* line 58,*/
.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #b2b2b2;
  font-weight: 400;
}

/* line 61,*/
.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #ed1b1b;
  border-bottom: 1px solid #ed1b1b;
}

/* line 67,*/
.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #b2b2b2;
}

/* line 71,*/
.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #ed1b1b;
  border-bottom: 1px solid #ed1b1b;
}

/* line 75,*/
.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

/* line 83,*/
.footer .footer_top .footer_widget ul li {
  color: #d5d5d5;
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
}

/* line 88,*/
.footer .footer_top .footer_widget ul li a {
  color: #c7c7c7;
}

/* line 90,*/
.footer .footer_top .footer_widget ul li a:hover {
  color: #ed1b1b;
}

/* line 167,*/
.footer .copy-right_text {
  padding-bottom: 30px;
  background: #73361f;
}

/* line 170,*/
.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
}

/* line 173,*/
.footer .copy-right_text .copy_right {
  font-size: 13px;
  color: #c7c7c7;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 173,*/
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

/* line 181,*/
.footer .copy-right_text .copy_right a {
  color: #ed1b1b;
}

/* line 173,*/
.footer .copy-right_text .copyRight {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 173,*/
  .footer .copy-right_text .copyRight {
    font-size: 13px;
  }
}

/* line 181,*/
.footer .copy-right_text .copyRight a {
  color: #ed1b1b;
}

/* line 185,*/
.footer .copy-right_text .footer_links {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 185,*/
  .footer .copy-right_text .footer_links {
    text-align: left;
  }
}

/* line 191,*/
.footer .copy-right_text .footer_links ul li {
  display: inline-block;
  margin-right: 30px;
}

@media (max-width: 767px) {
  /* line 191,*/
  .footer .copy-right_text .footer_links ul li {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 191,*/
  .footer .copy-right_text .footer_links ul li {
    margin-right: 20px;
  }
}

/* line 200,*/
.footer .copy-right_text .footer_links ul li a {
  color: #808e9c;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
}

/* line 205,*/
.footer .copy-right_text .footer_links ul li a:hover {
  color: #fff;
}

/* line 5,*/
.youtube_video_area .col-xl-3:nth-child(3) .single_video {
  margin-left: 0px;
  padding-bottom: 5px;
}

/* line 12,*/
.youtube_video_area .single_video {
  position: relative;
  margin-right: 5px;
}

@media (max-width: 767px) {
  /* line 12,*/
  .youtube_video_area .single_video {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 12,*/
  .youtube_video_area .single_video {
    margin: 0;
  }
}

/* line 22,*/
.youtube_video_area .single_video .thumb img {
  width: 100%;
}

/* line 26,*/
.youtube_video_area .single_video .hover_elements {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 34,*/
.youtube_video_area .single_video .hover_elements .video {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 39,*/
.youtube_video_area .single_video .hover_elements .video a {
  background: #73361f;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 58px;
  margin-bottom: 40px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

@media (max-width: 767px) {
  /* line 39,*/
  .youtube_video_area .single_video .hover_elements .video a {
    opacity: 1;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 39,*/
  .youtube_video_area .single_video .hover_elements .video a {
    opacity: 1;
    margin-bottom: 0;
  }
}

/* line 62,*/
.youtube_video_area .single_video .hover_elements .hover_inner {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 62,*/
  .youtube_video_area .single_video .hover_elements .hover_inner {
    bottom: 20px;
  }
}

/* line 69,*/
.youtube_video_area .single_video .hover_elements .hover_inner span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  left: 30px;
  opacity: 0;
}

@media (max-width: 767px) {
  /* line 69,*/
  .youtube_video_area .single_video .hover_elements .hover_inner span {
    left: 0;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 69,*/
  .youtube_video_area .single_video .hover_elements .hover_inner span {
    left: 0;
    opacity: 1;
  }
}

/* line 87,*/
.youtube_video_area .single_video .hover_elements .hover_inner h3 {
  margin-bottom: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  top: 30px;
  opacity: 0;
}

@media (max-width: 767px) {
  /* line 87,*/
  .youtube_video_area .single_video .hover_elements .hover_inner h3 {
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 87,*/
  .youtube_video_area .single_video .hover_elements .hover_inner h3 {
    top: 0;
    opacity: 1;
  }
}

/* line 101,*/
.youtube_video_area .single_video .hover_elements .hover_inner h3 a {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 101,*/
  .youtube_video_area .single_video .hover_elements .hover_inner h3 a {
    font-size: 18px;
  }
}

/* line 113,*/
.youtube_video_area .single_video:hover .hover_elements {
  background: rgba(0, 0, 0, 0.5);
}

/* line 115,*/
.youtube_video_area .single_video:hover .hover_elements .hover_inner {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* line 119,*/
.youtube_video_area .single_video:hover .hover_elements .hover_inner span {
  left: 0px;
  opacity: 1;
}

/* line 123,*/
.youtube_video_area .single_video:hover .hover_elements .hover_inner h3 {
  top: 0px;
  opacity: 1;
}

/* line 129,*/
.youtube_video_area .single_video:hover .hover_elements .video a {
  opacity: 1;
  margin-bottom: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 93, */
h1 {
  font-size: 36px;
}

/* line 97, */
h2 {
  font-size: 30px;
}

/* line 101, */
h3 {
  font-size: 24px;
}

/* line 105, */
h4 {
  font-size: 18px;
}

/* line 109, */
h5 {
  font-size: 16px;
}

/* line 113, */
h6 {
  font-size: 14px;
}

/* line 117, */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

/* line 127, */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

.copy_right {
  display: none;
  width: 100vw;
  overflow: hidden;
}

.copyOld {
  display: none;
  width: 100vw;
  overflow: hidden;
}

.copyRow {
  display: none;
  width: 100vw;
  overflow: hidden;
}

.logo {
  height: 40px;
}

.social-icons {
  padding: 15px;
  text-align: center;
}

.socials {
  padding-bottom: 60px;
  text-align: center;
}

@media (max-width: 576px) {
  .social-icons {
    text-align: center;
  }
  .socialHeader {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .social-icons {
    text-align: center;
  }
  .socialHeader {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .social-icons {
    text-align: center;
  }
  .socialHeader {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .social-icons {
    text-align: center;
  }
  .socialHeader {
    text-align: center;
  }
}

.social-icons a {
  color: #73361f;
  line-height: 30px;
  font-size: 30px;
  margin: 0 25px;
  text-decoration: none;
}
.social-icons a i {
  line-height: 30px;
  font-size: 30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.single-gallery img:hover {
  z-index: 2;
  -webkit-transition: all 500ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 500ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 500ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 500ms ease-in;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.single-gallery:hover img {
  filter: brightness(50%);
}

.single-gallery:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  margin: 0;
  font-size: medium;
  color: #ffffff;
}

.overlay button:hover {
  background-color: #e64a19;
}

.overlay a {
  background: #73361f;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 58px;
  margin-bottom: 40px;
}

.overlay h4 {
  color: #fff;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url(../img/texture.webp);
  background-color: rgba(245, 245, 220, 0.521);
}
